.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0;
  background-color: #f5f7fa;
  width: 800px;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  color: #2c3e50;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup-container {
  width: 100%; /* Change this to 100% to fill the available space */
  height: 600px;
}

textarea {
  width: 100%;
  height: 150px;
  margin: 10px 0;
}

.api-config {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.api-config select,
.api-config input {
  width: 48%;
}

button {
  margin: 5px;
  padding: 5px 10px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
